{% extends "base.jinja" %}


{% block contenu %}
<h3>{{titre}}</h3>
{# <h4> Liste de nos cinq récents services enregistrés. </h4> #}
<table class="table table-striped ">
    <thead>
        <tr>
            <th>Photo du service</th>
            <th>Titre</th>
            <th>Catégorie</th>
            <th>Localisation</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        {% for s in services %}
        <tr class="text-center align-middle">
            <td><img src="/static/images/gratisography.jpg" alt="Photo du service" width="200" ></td>
            <td>{{ s.titre }}</td>  
            <td>{{ s.categorie_nom }}</td>
            <td>{{ s.localisation }}</td>
            <td><a href="/service?id={{ s.id_service }}" class="bouton w-100 w-md-auto">Voir la page</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}