{% extends "base.jinja" %}

{% block contenu %}

<form method="post" action="/modification?id={{id_service}}" novalidate="novalidate">

    <fieldset class="border p-4 rounded">
        <legend class="mt-2 w-auto px-2">Détails du service</legend>

        {# Titre #}
        <div class="mb-3 row">
            <label for="titre" class="col-sm-2 col-form-label">Titre : </label>
            <div class="col-sm-6">
                <input type="text" name="titre" id="titre" value="{{titre}}" required
                    class="{{ classe_titre }} form-control" />
                <div class="invalid-feedback">Le titre est invalid</div>
            </div>

        </div>

        {# Localisation #}
        <div class="mb-3 row">
            <label for="localisation" class="col-sm-2 col-form-label">Localisation (ville) : </label>
            <div class="col-sm-6">
                <input type="text" name="localisation" id="localisation" value="{{localisation}}"
                    class="{{ classe_localisation }} form-control" required />
                <div class="invalid-feedback">La localisation est invalide.</div>
            </div>
        </div>


        {# Description #}
        <div class="mb-3 row">
            <label for="description" class="col-sm-2 col-form-label">Description du service : </label>
            <div class="col-sm-6">
                <textarea type="text" name="description" id="description" rows="10"
                    class="{{ classe_description }} form-control" required>{{description }}</textarea>
                <div class="invalid-feedback">La description est invalide.</div>

            </div>

        </div>

        {# Coût #}
        <div class="mb-3 row">
            <label for="cout" class="col-sm-2 col-form-label">Le coût : </label>
            <div class="col-sm-6">
                <input type="number" class="{{ classe_cout }} form-control" name="cout" id="cout" value="{{cout}}" min="0" step="0.01" />
                <div class="invalid-feedback">Veuillez entrer un nombre.</div>

            </div>

        </div>

        {# Date de création #}
        <div class="mb-3 row">
            <label for="date_creation" class="col-sm-2 col-form-label">Date de création : </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="date_creation" id="date_creation"
                    value="{{date_creation}}" disabled />
            </div>

        </div>

        {# Statut #}
        <div class="form-check mb-3 row">
            <div class="col-sm-6">
                <input class="form-check-input" type="checkbox" name="statut" id="statut" checked>
            </div>

            <label class="form-check-label" for="statut">Statut:</label>
        </div>

        {# Catégorie #}
        <div class="mb-3 row">
            <label for="categorie" class="form-label">Catégorie : </label>
            <div class="col-sm-6">
                <input type="text" value="{{ categorie_service }}" disabled>
      
            </div>

        </div>

        <div>
            <button type="submit" class="btn btn-outline-primary">Soumettre</button>
            <button type="reset" class="btn btn-outline-primary">Réinitialiser</button>
        </div>
    </fieldset>

</form>

{% endblock %}