{% extends "base.jinja" %}

{% block contenu %}

<table  class="table table-striped table-bordered table-hover">
    <tbody>
        <tr class="align-middle py-2">
            <th class="w-25">Titre</th>
            <td>{{service.titre}}</td>
        </tr>
        <tr class="align-middle py-2">
            <th>Catégorie</th>
            <td>{{service.categorie_nom}}</td>
        </tr>
        <tr class="align-middle py-2">
            <th>Localisation</th>
            <td>{{service.localisation}}</td>
        </tr>
        <tr class="align-middle py-2">
            <th>Description</th>
            <td>{{service.description}}</td>
        </tr>
        <tr class="align-middle py-2">
            <th>Coût</th>
            <td> {{"{:.2f}".format(service.cout) }} $</td>
        </tr>
        <tr class="align-middle py-2">
            <th>Date d'ajout</th>
            <td>{{service.date_creation.strftime("%d/%m/%Y") }}</td>
     
        </tr>
        <tr class="align-middle py-2">
            <th>Statut</th>
            <td>
                {% if service.actif==1 %}
                Actif
                {% else %}
                Inactif
                {% endif %}
            </td>
        </tr>

    </tbody>


</table>

<a href="/modification?id={{ service.id_service }}" class="bouton-editer" href="/ajout">
    Éditer ce service
</a>

{% endblock %}